<style>
    #countdown {
        font-size: 34px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }

    .imgg {
        width: 200px;
        margin-bottom: 10px;
    }

    .img2 {
        width: 500px;
    }

    .text1 {
        animation: color-change 7s infinite;
    }

    @keyframes color-change {
        0% {
            color: rgb(255, 116, 116);
        }

        50% {
            color: rgba(45, 241, 225, 0.74);
        }

        100% {
            color: rgb(226, 222, 0);
        }
    }
</style>
<!-- Loader1 Start -->
<div class="loader">
    <div class="loader">
        <div class="loader__content">
            <div class="loader__logo">
                <img class="img2" src="images/intro.gif">
            </div>
        </div>
    </div>
</div>
<!-- Loader End -->

<!-- Navigation Start -->

<!-- Navigation End -->

<!-- Header Start -->
<header id="header" class="header full">
    <div class="container-fluid px-0 fullheight-mobile">
        <div class="row gx-0 fullheight-mobile">
            <div class="col-6 fullheight-mobile header__left">

                <!-- Logo Start -->
                {{!-- <div class="logo">
                    <img src="images/msmlogo.png" style=" width: 124px;
    margin-top: 7px;">
                </div> --}}
                <!-- Logo End -->

            </div>
            <div class="col-6 fullheight header__right">

                <!-- Say Hello Button Start -->

                <!-- Say Hello Button End -->

                <!-- Menu Trigger Start -->
                {{!-- <div class="menu-button">
                    <a href="/HighSec-Registration" id="menu-trigger" class="menu-trigger">
                        <span class="burger"></span>
                        <span class="circle"></span>
                    </a>
                </div> --}}
                <!-- Menu Trigger End -->

            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Main Section Start -->
<section id="main" class="main full">
    <div class="fullscreen-wrapper">

        <!-- Fullscreen Background Start-->
        <div class="fullscreen-bg media-full-1">
            <!-- local video background -->
            <div class="video-background">
                <video id="main-video" preload="auto" autoplay="autoplay" loop="loop" muted="muted"
                    poster="images/bg.mp4">
                    <source type="video/mp4" src="images/bg.mp4">
                    <source type="video/webm" src="video/video.webm">
                    <source type="video/ogv" src="video/video.ogv">
                </video>
            </div>
            <!-- Dark gradient cover layer -->
            <div class="color-layer layer-dark-06"></div>
        </div>
        <!-- Fullscreen Background End-->

        <!-- Main Section Content Start -->
        <div class="main__content fullheight-mobile">
            <div class="container-fluid px-0 fullheight-mobile">
                <div class="row gx-0 fullheight-mobile">

                    <!-- Main Section Intro Start -->
                    <div class="col-12 main__intro fullheight-mobile">

                        <!-- Main Intro Content Start -->
                        <div class="intro__content fullheight-mobile">

                            <!-- Headline Start -->
                            <div id="headline" class="headline centered-mobile text-center">
                                <span class="headline__subtitle">MSM Kozhikode North Presents</span>
                                <center><img class="imgg" src="images/logo1.png"></center>

                                <div class="d-md-flex align-items-md-center justify-content-md-center">
                                    <h2 style="font-weight: 500;" class="headline__title title-centered">Higher
                                        Secondary Students Conference</h2>

                                </div>
                                <p style="margin-top: 24px; margin-bottom: -26px; font-weight:400; color:white;">The
                                    <b>program is
                                        scheduled to start on :</b>
                                </p>
                                <p class="text1" id="countdown"></p>


                                <div class="headline__btnholder">
                                    <a href="#" id="notify-trigger" class="btn btn-l btn-light">
                                        <span class="btn-title">Register Now</span>
                                        <span class="btn-hover">Register Now</span>
                                    </a>
                                    <a href="#" id="sayhello-trigger" class="btn btn-l-icon btn-outline-light">
                                        <span class="btn-icon-title">Contact Us</span>
                                        <span class="btn-icon-anim"><i class="fa-solid fa-play"></i></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Headline End -->

                        </div>
                        <!-- Main Intro Content End -->

                        <!-- Footer Mobile Start -->
                        <div class="footer-mobile full">
                            <div class="container-mobile fullheight-mobile d-flex align-items-center">
                                <div class="container-fluid px-0">
                                    <div class="row gx-0">
                                        <div class="col-6 text-start footer-mobile__socials">
                                            <!-- Home screen socials links -->
                                            <ul class="socials d-flex align-items-start">
                                                <li>
                                                    <a class="btn btn-s-text" href="https://www.facebook.com/msm.north"
                                                        target="_blank">
                                                        <span class="title">Fb</span>
                                                        <span class="hover">Fb</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-s-text"
                                                        href="https://www.instagram.com/msm_kozhikodenorth/?hl=en"
                                                        target="_blank">
                                                        <span class="title">In</span>
                                                        <span class="hover">In</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-s-text"
                                                        href="https://www.youtube.com/@msmkozhikodenorth3067"
                                                        target="_blank">
                                                        <span class="title">Yt</span>
                                                        <span class="hover">Yt</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-s-text" href="https://wa.link/u4y7se"
                                                        target="_blank">
                                                        <span class="title">Wa</span>
                                                        <span class="hover">Wa</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 text-end footer-mobile__copyright">
                                            <p class="copyright bright">
                                                <i class="fa-regular fa-copyright"></i>
                                                <a class="contact-link" href="https://www.vectorcrop.com"
                                                    target="_blank">VectorCrop</a>,
                                                2023
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Footer Mobile End -->

                    </div>
                    <!-- Main Section Intro End -->

                </div>
            </div>
        </div>
        <!-- Main Section Content End -->

    </div>
</section>

<!-- Footer Desktop Start -->
<footer id="footer" class="footer-desktop full">
    <div class="container-fluid px-0 fullheight">
        <div class="row gx-0 fullheight">
            <div class="col-6 footer-desktop__left fullheight">
                <div class="container-desktop d-flex fullheight justify-content-start align-items-center">
                    <!-- Home screen socials links -->
                    <ul class="socials">
                        <li>
                            <a class="btn btn-s-text" href=" https://www.facebook.com/msm.north" target="_blank">
                                <span class="title">Fb</span>
                                <span class="hover">Fb</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-s-text" href="https://www.instagram.com/msm_kozhikodenorth/?hl=en"
                                target="_blank">
                                <span class="title">In</span>
                                <span class="hover">In</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-s-text" href="https://www.youtube.com/@msmkozhikodenorth3067"
                                target="_blank">
                                <span class="title">Yt</span>
                                <span class="hover">Yt</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-s-text" href="https://wa.link/u4y7se" target="_blank">
                                <span class="title">Wa</span>
                                <span class="hover">Wa</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 footer-desktop__right fullheight">
                <div class="container-desktop fullheight d-flex justify-content-end align-items-center">
                    <p class="copyright bright">
                        <i class="fa-regular fa-copyright"></i>
                        <a class="contact-link" href="https://www.vectorcrop.com" target="_blank">VectorCrop</a>,
                        2023
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Desktop End -->

<!-- Notify Popup Start -->
<div id="notify" class="popup notify">
    <div class="popup__container">

        <!-- Popup Content Start -->
        <div class="popup__content block-rounded-s">

            <!-- popup close button -->
            <a href="#0" id="notify-close" class="popup-close">
                <i class="fa-solid fa-xmark"></i>
            </a>

            <!-- Notify Popup Title Start -->
            <div class="popup-title">
                <p class="popup-title__title">MSM HighSec 2023 Registration</p>
                <p class="popup-title__text">Register and grab your valuable seat!</p>
            </div>
            <!-- Notify Popup Title End -->

            <!-- Notify Form Container Start -->
            <div class="form-container">

                <!-- Reply Messages Start-->
                <div class="reply-group subscription-ok">
                    <i class="fa-solid fa-circle-check reply-group__icon"></i>
                    <p class="reply-group__title txt-light">Done!</p>
                    <span class="reply-group__text">Thanks for subscribing. We will send you a notification about our
                        launch.</span>
                </div>
                <div class="reply-group subscription-error">
                    <i class="fa-solid fa-face-frown-open reply-group__icon"></i>
                    <p class="reply-group__title">Ooops!</p>
                    <span class="reply-group__text">Something went wrong. Please try again later.</span>
                </div>
                <!-- Reply Messages End-->

                <!-- Notify Contact Form Start-->
                <form action="/HighSec-Registration" method="POST" class="form notify-form form-light">
                    <div class="container-fluid px-0">
                        <div class="row gx-5">
                            <div class="col-12 col-md-6">
                                <input class="" type="text" name="Name" placeholder="Your Full Name" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input class="" type="text" name="FatherName" placeholder="Your Father's Name" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input class="" type="text" name="School" placeholder="School" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input class="" type="text" name="Age" placeholder="Your Age" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <select class="" name="Zone">
                                    <option value="None">Select Your Zone</option>
                                    <option value="Nadapuram">Nadapuram</option>
                                    <option value="Kuttiadi">Kuttiadi</option>
                                    <option value="Perambra">Perambra</option>
                                    <option value="Balussery">Balussery</option>
                                    <option value="Ponoor">Ponoor</option>
                                    <option value="Koyilandy">Koyilandy</option>
                                    <option value="Payyoli">Payyoli</option>
                                    <option value="Vdakara">Vdakara</option>
                                    <option value="Meppayur">Meppayur</option>
                                    <option value="Other">Other</option>


                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <select class="" name="Vehicle">
                                    <option value="None">Vehicle Facility</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <input class="" type="text" name="Phone" placeholder="Your Phone Number " required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input class="" type="text" name="Ulternate" placeholder="Your Whatsapp Number"
                                    required>
                            </div>
                            {{!-- <input class="" type="text" name="Email" placeholder="Email" required>
                            <input class="" type="text" name="Password" placeholder="Password" required> --}}

                        </div>
                    </div>
                    <button class="btn btn-l btn-light" type="submit">
                        <span class="btn-title">Register Now!</span>
                        <span class="btn-hover">Register Now!</span>
                    </button>
                </form>
                <!-- Notify Contact Form End-->

            </div>
            <!-- Notify Form Container End -->

        </div>
        <!-- Popup Content End -->

    </div>
</div>
<!-- Notify Popup End -->

<!-- Say Hello Popup Start -->
<div id="sayhello" class="popup sayhello">
    <div class="popup__container">

        <!-- Popup Content Start -->
        <div class="popup__content block-rounded-s">

            <!-- popup close button -->
            <a href="#0" id="sayhello-close" class="popup-close">
                <i class="fa-solid fa-xmark"></i>
            </a>

            <!-- Say Hello Popup Title Start -->
            <div class="popup-title">
                <p class="popup-title__title">Contact Us</p>
            </div>
            <!-- Say Hello Popup Title End -->

            <!-- Say Hello Form Container Start -->
            <div class="form-container">

                <!-- Reply Messages Start-->
                <div class="reply-group">
                    <i class="fa-solid fa-circle-check reply-group__icon"></i>
                    <p class="reply-group__title">Done!</p>
                    <span class="reply-group__text">Thanks for your message. We will get back as soon as possible</span>
                </div>
                <!-- Reply Messages End-->

                <!-- Contact Form Start -->
                <ul>
                    <h5>
                        <li><i class="fa-solid fa-phone"></i><b> Phone Number : </b>+91 91585 55799 </li><br>
                        <li><i class="fa-solid fa-phone"></i> <b> Phone Number : </b>+91 99463 77551 </li><br>
                        <li><i class="fa-regular fa-envelope"></i> <b>Email : </b>msm.cltn@gmail.com</li>
                    </h5>
                </ul>
                <!-- Contact Form End  -->

            </div>
            <!-- Say Hello Form Container End -->

        </div>
        <!-- Popup Content End -->

    </div>
</div>
<!-- Say Hello Popup End -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader-active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
    // Target date and time (November 12, 2023)
    const targetDate = new Date("November 12, 2023 00:00:00").getTime();

    // Update the countdown every second
    const countdownInterval = setInterval(() => {
        const currentDate = new Date().getTime();
        const timeRemaining = targetDate - currentDate;

        if (timeRemaining <= 0) {
            clearInterval(countdownInterval);
            document.getElementById("countdown").innerHTML = "The program has started!";
        } else {
            const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

            document.getElementById("countdown").innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
        }
    }, 1000);
</script>